/* desktop styles */
@media screen and (min-width: 1024px) {
  /* home page styles */
  body {
    width: 1440px;
    overflow-x: hidden;
  }

  .Navbar-header {
    position: absolute;
    width: 1440px;
    height: 162px;
    left: 0px;
    top: -1px;
    background-image: url("../../assets/desktop/bg-pattern-header.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .navbar-logo {
    position: absolute;
    height: 32px;
    width: 115px;
    left: 165px;
    top: 44px;
  }
  .theme-toggle-container {
    left: 1163px;
    top: 44px;
  }

  /* moon - sun icons styles */
  .icon-moon {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 67px;
    top: 2px;
  }
  .icon-sun {
    position: absolute;
    height: 19px;
    width: 20px;
    left: -37px;
    top: 3px;
  }
  /* filter bar styles */
  .filter-bar {
    position: absolute;
    width: 1110px;
    height: 80px;
    left: 165px;
    top: 120px;
  }

  .filter-search-container {
    column-gap: 16px;
    position: absolute;
    width: 312px;
    height: 24px;
    left: 40px;
  }
  .filter-search-container > input {
    height: 20px;
    width: 268px;
  }

  .filter-location-container > input {
    height: 20px;
    width: 134px;
  }
  /* style inputs when there is text */
  .filter-location-container > input:valid {
    border-right: 1px solid var(--violet);
    width: 80px;
  }
  .filter-search-container > input:valid {
    border-right: 1px solid var(--violet);
    width: 150px;
  }
  .filter-location-container {
    position: absolute;
    display: flex;
    column-gap: 16px;
    width: 174px;
    height: 24px;
    left: 405px;
  }
  .filter-search-container::after {
    left: 330px;
    top: -29px;
  }
  .filter-location-container::after {
    left: 300px;
    top: -29px;
  }
  .filter-fullTime-container {
    width: 190px;
    height: 24px;
    left: 730px;
  }
  .filter-fullTime-container > label {
    height: 16px;
    width: 128px;
    left: 40px;
  }

  .full-time-checkbox {
    margin-right: 16px;
  }

  .filter-button {
    position: absolute;
    left: 950px;
  }
  /* main contents style section */
  .cards-container {
    grid-template-columns: repeat(3, 350px);
  }

  /* detail page styles */
  .details-header-bar {
    width: 730px;
    height: 140px;
    left: 355px;
    top: 120px;
  }
  .details-company-logo {
    width: 140px;
    height: 140px;
    left: 0%;
    top: 0%;
  }
  .details-position-info-container {
    left: 355px;
    top: 152px;
  }
  .details-companyNameSite-container {
    left: 180px;
    top: 42px;
  }
  .details-companyLink-btn-container {
    right: 43px;
    top: 46px;
  }
  .main-apply-now-btn-container {
    right: 0%;
    top: calc(50% - 28px / 2 - 3px);
  }
  .details-position {
    height: 28px;
    left: 0%;
  }
}
