:root {
  --violet: #5964e0;
  --light-violet: #939bf4;
  --midnight: #121721;
  --very-dark-blue: #19202d;
  --light-grey: #f4f6f8;
  --gray: #9daec2;
  --white: #ffffff;
  --dark-grey: #6e8098;
  --font-family: "kumbh Sans";
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-20: 20px;
  --fs-14: 14px;
  --fs-16: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Kumbh Sans", sans-serif;
}
.theme-toggle-container {
  list-style: none;
  position: absolute;
  width: 112px;
  height: 24px;
  display: flex;
  flex-direction: row;
}
/* custom toggle box ---> changes night/day */
.theme-toggle-checkbox {
  -webkit-appearance: none;
  position: relative;
  width: 48px;
  height: 24px;
  border-radius: 12px;
  background: var(--white);
  cursor: pointer;
}
/* custom sliding ball inside toggle box to toggle the theme */
.theme-toggle-checkbox::before {
  position: absolute;
  content: "";
  background: var(--violet);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  top: 25%;
  left: 4px;
  transition: left 0.8s;
}
.theme-toggle-checkbox:hover::before {
  background: var(--light-violet);
}
/* checked state of theme-toggle to change theme */
.theme-toggle-checkbox:checked::before {
  left: 60%;
}
/* general filter bar styles */
.filter-bar {
  background: var(--white);
  border-radius: 6px;
}

.filter-form {
  /* positioned relative to position child elements absolute to it */
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.filter-search-container,
.filter-location-container {
  display: flex;
}
.filter-search-container::after,
.filter-location-container::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 81px;
  background: var(--dark-grey);
  opacity: 0.2;
}
.filter-search-container > input,
.filter-location-container > input {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: 16px;
  opacity: 0.5;
  color: var(--very-dark-blue);
}
.filter-button > button {
  text-transform: capitalize;
}
/* custom checkbox for full time filter */
.full-time-checkbox {
  -webkit-appearance: none;
  height: 22px;
  width: 24px;
  border-radius: 3px;
  background: var(--very-dark-blue);
  cursor: pointer;
  opacity: 0.1;
}
.full-time-checkbox:hover {
  background: var(--violet);
  opacity: 0.25;
}
.filter-fullTime-container > label {
  text-transform: capitalize;
  font-family: var(--font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  color: var(--very-dark-blue);
}
/* full time box when checked */
.full-time-checkbox:checked {
  background: var(--violet);
  opacity: 1;
  background-image: url("../assets/desktop/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}
img {
  max-width: 100%;
  height: auto;
}
.button-violet {
  font-family: var(--font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  background: var(--violet);
  color: var(--white);
  border: 1px solid var(--violet);
  line-height: 19.84px;
  cursor: pointer;
  border-radius: 5px;
  height: 48px;
  width: 141px;
}
.button-violet:hover {
  background: var(--light-violet);
  border: 1px solid var(--light-violet);
}

/* button 2 styles */
.button-light-grey {
  font-family: var(--font-family);
  font-weight: var(--fw-bold);
  font-size: var(--fs-16);
  background: var(--light-grey);
  color: var(--violet);
  border: 1px solid var(--light-grey);
  line-height: 19.84px;
  cursor: pointer;
  border-radius: 5px;
  height: 48px;
  width: 141px;
}

.button-light-grey:hover {
  background: var(--gray);
  border: 1px solid var(--gray);
}

.card {
  position: absolute;
  width: 350px;
  height: 253px;
  background: var(--white);
  border-radius: 6px;
}
.company-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 32px;
  top: 0px;
}
.company-location {
  font-weight: var(--fw-bold);
  font-size: var(--fs-14);
  line-height: 17.36px;
  height: 17px;
  width: fit-content;
  left: 32px;
  top: 203px;
  color: var(--violet);
}
.remove-default {
  -webkit-appearance: none;
}
input[type="text"] {
  border-style: none;
}
input[type="text"]:focus {
  outline: none;
}
input[type="text"]:valid {
  opacity: 1;
}
